<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>♥ MYWEB ♥</title>
</head>
<body>
    <h1>질문상세보기</h1>
    <div id="qDiv">
        <label>제목:</label>
        {{question.subject}}<br><br>

        <label>내용:</label>
        {{question.content}}<br>
    </div>
    <div>
        <form>
            <textarea rows="5" cols="20" placeholder="답글입력"></textarea>
            <input type="submit" value="답변등록">
        </form>
    </div>
</body>
</html>